In [1]:
# First load in the data files 
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv (r'~/Desktop/sub390_comparison.csv')
df.head(5)

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4

In [3]:
RT_mean = df ['RT'].mean()
print(RT_mean)
RT_std = df ['RT'].std()
print(RT_std)

1.7265400369874893
5.623447224498737

In [4]:
df['RT_corrected'] = df['RT'].apply(lambda x: x  if ((abs( x -RT_mean))/RT_std) <= 3 else np.nan)
#df[df ['RT_corrected'] == np.nan]
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903

In [5]:
df[np.isnan(df['RT_corrected'])]['TrialID']

26    89
61    62
Name: TrialID, dtype: int64

In [6]:
df.loc[df['Response'] == df['Correct_Answer'],'Acc'] = 1
df.loc[df['Response'] != df['Correct_Answer'],'Acc'] = 0
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0

In [7]:
df['Acc_corrected'] = df ['Acc']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[np.isnan(df['RT_corrected']),'Acc_corrected'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0

In [8]:
df['RT_cond1'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 1,'RT_cond1'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN

In [9]:
df['RT_cond2'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 2,'RT_cond2'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903

In [10]:
df['RT_cond3'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 3,'RT_cond3'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2,RT_cond3
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903,NaN

In [11]:
df['RT_cond4'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 4,'RT_cond4'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2,RT_cond3,RT_cond4
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN,NaN,0.976261
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903,NaN,NaN

In [12]:
df['Acc_cond1'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 1,'Acc_cond1'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2,RT_cond3,RT_cond4,Acc_cond1
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157,NaN,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN,NaN,NaN,0.0
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN,NaN,0.976261,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN,NaN,NaN,0.0
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903,NaN,NaN,NaN

In [13]:
df['Acc_cond2'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 2,'Acc_cond2'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2,RT_cond3,RT_cond4,Acc_cond1,Acc_cond2
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157,NaN,NaN,NaN,1.0
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN,NaN,NaN,0.0,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN,NaN,0.976261,NaN,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN,NaN,NaN,0.0,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903,NaN,NaN,NaN,1.0

In [14]:
df['Acc_cond3'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 3,'Acc_cond3'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2,RT_cond3,RT_cond4,Acc_cond1,Acc_cond2,Acc_cond3
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157,NaN,NaN,NaN,1.0,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN,NaN,NaN,0.0,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN,NaN,0.976261,NaN,NaN,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN,NaN,NaN,0.0,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903,NaN,NaN,NaN,1.0,NaN

In [15]:
df['Acc_cond4'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Condition'] != 4,'Acc_cond4'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2,RT_cond3,RT_cond4,Acc_cond1,Acc_cond2,Acc_cond3,Acc_cond4
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157,NaN,NaN,NaN,1.0,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN,NaN,0.976261,NaN,NaN,NaN,1.0
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903,NaN,NaN,NaN,1.0,NaN,NaN

In [16]:
df['RT_ratio1'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 1,'RT_ratio1'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,Acc_corrected,RT_cond1,RT_cond2,RT_cond3,RT_cond4,Acc_cond1,Acc_cond2,Acc_cond3,Acc_cond4,RT_ratio1
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,1.0,NaN,1.335157,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,0.0,0.942974,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,1.0,NaN,NaN,NaN,0.976261,NaN,NaN,NaN,1.0,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,0.0,0.702434,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,1.0,NaN,0.627903,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [17]:
df['RT_ratio2'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 2,'RT_ratio2'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,RT_cond1,RT_cond2,RT_cond3,RT_cond4,Acc_cond1,Acc_cond2,Acc_cond3,Acc_cond4,RT_ratio1,RT_ratio2
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,NaN,1.335157,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,0.942974,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,NaN,NaN,NaN,0.976261,NaN,NaN,NaN,1.0,NaN,0.976261
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,0.702434,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.702434
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,NaN,0.627903,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [18]:
df['RT_ratio3'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 3,'RT_ratio3'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,RT_cond2,RT_cond3,RT_cond4,Acc_cond1,Acc_cond2,Acc_cond3,Acc_cond4,RT_ratio1,RT_ratio2,RT_ratio3
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,1.335157,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.942974
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,NaN,NaN,0.976261,NaN,NaN,NaN,1.0,NaN,0.976261,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.702434,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,0.627903,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [19]:
df['RT_ratio4'] = df ['RT_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 4,'RT_ratio4'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,RT_cond3,RT_cond4,Acc_cond1,Acc_cond2,Acc_cond3,Acc_cond4,RT_ratio1,RT_ratio2,RT_ratio3,RT_ratio4
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.335157
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.942974,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,NaN,0.976261,NaN,NaN,NaN,1.0,NaN,0.976261,NaN,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.702434,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.627903

In [20]:
df['Acc_ratio1'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 1,'Acc_ratio1'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,RT_cond4,Acc_cond1,Acc_cond2,Acc_cond3,Acc_cond4,RT_ratio1,RT_ratio2,RT_ratio3,RT_ratio4,Acc_ratio1
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.335157,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.942974,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,0.976261,NaN,NaN,NaN,1.0,NaN,0.976261,NaN,NaN,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,0.702434,NaN,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.627903,NaN

In [21]:
df['Acc_ratio2'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 2,'Acc_ratio2'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,Acc_cond1,Acc_cond2,Acc_cond3,Acc_cond4,RT_ratio1,RT_ratio2,RT_ratio3,RT_ratio4,Acc_ratio1,Acc_ratio2
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.335157,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,0.942974,NaN,NaN,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,NaN,NaN,NaN,1.0,NaN,0.976261,NaN,NaN,NaN,1.0
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,0.0,NaN,NaN,NaN,NaN,0.702434,NaN,NaN,NaN,0.0
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.627903,NaN,NaN

In [22]:
df['Acc_ratio3'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 3,'Acc_ratio3'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,Acc_cond2,Acc_cond3,Acc_cond4,RT_ratio1,RT_ratio2,RT_ratio3,RT_ratio4,Acc_ratio1,Acc_ratio2,Acc_ratio3
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1.335157,NaN,NaN,NaN
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,NaN,NaN,NaN,NaN,NaN,0.942974,NaN,NaN,NaN,0.0
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,NaN,NaN,1.0,NaN,0.976261,NaN,NaN,NaN,1.0,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,NaN,NaN,NaN,NaN,0.702434,NaN,NaN,NaN,0.0,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0.627903,NaN,NaN,NaN

In [23]:
df['Acc_ratio4'] = df ['Acc_corrected']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[df['Ratio'] != 4,'Acc_ratio4'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,Acc_cond3,Acc_cond4,RT_ratio1,RT_ratio2,RT_ratio3,RT_ratio4,Acc_ratio1,Acc_ratio2,Acc_ratio3,Acc_ratio4
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,NaN,NaN,NaN,NaN,NaN,1.335157,NaN,NaN,NaN,1.0
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,NaN,NaN,NaN,NaN,0.942974,NaN,NaN,NaN,0.0,NaN
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,NaN,1.0,NaN,0.976261,NaN,NaN,NaN,1.0,NaN,NaN
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,NaN,NaN,NaN,0.702434,NaN,NaN,NaN,0.0,NaN,NaN
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,NaN,NaN,NaN,NaN,NaN,0.627903,NaN,NaN,NaN,1.0

In [24]:
df['TrialID_corrected'] = df ['TrialID']
#df.loc[df['RT_corrected'] != np.nan,'Acc_corrected'] = df['Acc']
df.loc[np.isnan(df['RT_corrected']),'TrialID_corrected'] = np.nan
#df.drop(columns=['acc'],inplace = True)
df.head()

,TrialID,img1,img2,Response,RT,Condition,Correct_Answer,Ratio,RT_corrected,Acc,...,Acc_cond4,RT_ratio1,RT_ratio2,RT_ratio3,RT_ratio4,Acc_ratio1,Acc_ratio2,Acc_ratio3,Acc_ratio4,TrialID_corrected
0,159,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,1.335157,2,1,4,1.335157,1.0,...,NaN,NaN,NaN,NaN,1.335157,NaN,NaN,NaN,1.0,159.0
1,109,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.942974,1,1,3,0.942974,0.0,...,NaN,NaN,NaN,0.942974,NaN,NaN,NaN,0.0,NaN,109.0
2,55,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,2,0.976261,4,2,2,0.976261,1.0,...,1.0,NaN,0.976261,NaN,NaN,NaN,1.0,NaN,NaN,55.0
3,96,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.702434,1,2,2,0.702434,0.0,...,NaN,NaN,0.702434,NaN,NaN,NaN,0.0,NaN,NaN,96.0
4,160,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,/Users/taylorcasteel/Desktop/Adult_NSFMath_Mai...,1,0.627903,2,1,4,0.627903,1.0,...,NaN,NaN,NaN,NaN,0.627903,NaN,NaN,NaN,1.0,160.0

In [25]:
df.to_csv('sub390_comparison_reorganized2.csv',index = False)

In [30]:
df2 = {'SubjId': 390,'Trial_count': len(df[~np.isnan(df['TrialID_corrected'])]),'RT_mean_overall': df['RT_corrected'].mean(), 'Acc_mean_overall': df['Acc_corrected'].mean(), 'RT_cond1': df['RT_cond1'].mean(),
       'RT_cond2': df['RT_cond2'].mean(),'RT_cond3': df['RT_cond3'].mean(),'RT_cond4': df['RT_cond4'].mean(),
       'Acc_cond1': df['Acc_cond1'].mean(),'Acc_cond2': df['Acc_cond2'].mean(),'Acc_cond3': df['Acc_cond3'].mean(),'Acc_cond4': df['Acc_cond4'].mean(),
       'RT_ratio1': df['RT_ratio1'].mean(),'RT_ratio2': df['RT_ratio2'].mean(),'RT_ratio3': df['RT_ratio3'].mean(),'RT_ratio4': df['RT_ratio4'].mean(),
       'Acc_ratio1': df['Acc_ratio1'].mean(),'Acc_ratio2': df['Acc_ratio2'].mean(),'Acc_ratio3': df['Acc_ratio3'].mean(),'Acc_ratio4': df['Acc_ratio4'].mean(),
       'TrialID_excluded': list(df[np.isnan(df['RT_corrected'])]['TrialID'])}
df2

{'SubjId': 390,
 'Trial_count': 158,
 'RT_mean_overall': 1.1067355982215095,
 'Acc_mean_overall': 0.7025316455696202,
 'RT_cond1': 1.0609963022818705,
 'RT_cond2': 0.9967273819750512,
 'RT_cond3': 1.3453246527750704,
 'RT_cond4': 1.020597111282069,
 'Acc_cond1': 0.7435897435897436,
 'Acc_cond2': 0.825,
 'Acc_cond3': 0.65,
 'Acc_cond4': 0.5897435897435898,
 'RT_ratio1': 1.2272871278207904,
 'RT_ratio2': 0.9888260306251146,
 'RT_ratio3': 1.1187458451790095,
 'RT_ratio4': 1.0953974336750432,
 'Acc_ratio1': 0.6666666666666666,
 'Acc_ratio2': 0.8,
 'Acc_ratio3': 0.6153846153846154,
 'Acc_ratio4': 0.725,
 'TrialID_excluded': [89, 62]}

In [31]:
df_2 = pd.DataFrame([df2])
df_2.to_csv('sub390_comparison_results2.csv',index = False)